# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo

# macOS-specific files
.DS_Store

# Logs and temporary files
*.log

# book pics (too many rn - need to find a good way to deal w this)
myapp/static/book_pics