{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='books.css') }}">
{% endblock %}

{% block content %}
<h1 class="page-title">Discover Books to Trade</h1>
<p class="page-subtitle">Select or search for the book you'd like to sell to get started!</p>

<div class="content-section search-form">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <div class="form-group">
        {{ form.title(class="form-title", placeholder="Search by title...") }}
      </div>
    </fieldset>
    <div class="form-group">
      {{ form.submit(class="btn btn-info") }}
    </div>
  </form>
</div>

<div class="row">
    {% for book in books.items %}
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex justify-content-center">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='book_pics/' + book.picture) }}" alt="{{ book.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <p class="card-text">{{ book.author }}</p>
                    <p class="card-text">{{ book.genre }}</p>
                    <a class="btn btn-primary btn-sm" href="{{ url_for('sell', book_id=book.id) }}">Select</a>
                </div>
            </div>
        </div>
        {% if loop.index is divisibleby 4 and not loop.last %}
        </div> <div class="row">
        {% endif %}
    {% endfor %}
</div>

<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    {% if books.has_prev %}
      <li class="page-item">
        <a class="page-link" href="{{ url_for('books', page=books.prev_num) }}">Previous</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">Previous</span>
      </li>
    {% endif %}

    {% if books.has_next %}
      <li class="page-item">
        <a class="page-link" href="{{ url_for('books', page=books.next_num) }}">Next</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">Next</span>
      </li>
    {% endif %}
  </ul>
</nav>
{% endblock %}